html{
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
    position: relative;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

/* nav-container */

.nav-bar--container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    transition: all 0.3s;
    z-index: 3;
    height: 3rem;
    align-items: center;
}

.dark{
    background-color: #191D22;
    color: #F0F8FF;
}

.light{
    background-color: #F0F8FF;
    color: #191D22;
}
.nav-items--container{
    width: 50%;
    font-weight: 200;
}

.nav-items--container ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.5rem;
}

.Toggle--container{
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    position: relative;
}

.toggle-button{
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    border-radius: 1rem;
    
}


.toggle-dark{
    left: 0.1rem;
    top: 0.1rem;
}

.toggle-light{
    right: 0.1rem;
    top: 0.1rem;

}

.toggle-up-container{
    position: absolute;
    right: 2rem;
    cursor: pointer;
}


.arrow-image{
    display: none;
}

/* hero container */

.top-container{
    position: relative;
}

.hero-container{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.name-banner h1 span{
    background: linear-gradient(99.16deg, #00D1FF 35.11%, #00D1FF 35.11%, #8F00FF 77.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.hero-container h1{
    font-weight: 800;
    font-size: 5rem;

}


.hero--dark{
    background-color: #1F2329;
    color: #F0F8FF;
}

.skill-banner{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.developer{
    font-family: 'JetBrains Mono', monospace;
    background: linear-gradient(266.68deg, #9E00FF 9.38%, rgba(206, 127, 255, 0.72) 102.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 1rem;   
}


.designer{
    background: linear-gradient(93.92deg, #00D1FF -6.03%, rgba(43, 217, 255, 0.71) 78.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-right: 1rem;
}

.resume-download--button{
    padding: 1.2rem 1rem;
    border-radius: 1rem;
    width: 20rem;
    background: linear-gradient(92.89deg, #61DAFB -1.92%, rgba(158, 0, 255, 0.5) 117.71%);
    color: #F0F8FF;
    border: 0;
    cursor: pointer;
}

.scroll-banner{
    position: absolute;
    bottom: 0rem;
}

.scroll-banner p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.scroll-down--image{
    margin-bottom: 1rem;
}

.blob{
    width: 20rem;
    height: 20rem;
    position: absolute;
    right: 0rem;
    bottom: 2rem;
    background: linear-gradient(180deg, #00FFFF 0%, #56FFEB 54.48%, #9E00FF 100%);
    filter: blur(150px);
}

@media screen and (max-width: 800px) {
    .nav-bar--container{
        height: 100vh;
        width: 18rem;
        position: absolute;
        left: -16rem;
        transition: all 0.3s;
        align-items: flex-start;
    }

    .nav-bar--container:hover{
        left: 0;
    }

    .nav-bar--container:hover .arrow-image{
        transform: rotate(-270deg);
        transition: all 0.3s;
    }

    .nav-items--container ul{
        flex-direction: column;
        padding-top: 5rem;
    }

    .nav-items--container li{
        padding-top: 2rem;
    }


    .arrow-image{
        display: block;
        position: absolute;
        width: 3rem;
        height: 1.5rem;
        top: 30rem;
        transform: rotate(-90deg);
        right: -2.5rem;
    }

    /* hero-container */

    .hero-container{
        height: 100vh; 
        left: 2rem; 
    }

    .hero-container h1{
        font-size: 4rem;
    }

    .skill-banner{
        font-size: 1.7rem;
    }


}