html{
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
    position: relative;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

/* nav-container */

.nav-top{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.nav-bar--container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    transition: all 0.3s;
    z-index: 3;
    height: 3rem;
    align-items: center;
}

.dark{
    background-color: #191D22;
    color: #F0F8FF;
}

.light{
    background-color: #F0F8FF;
    color: #191D22;
}
.nav-items--container{
    width: 50%;
    font-weight: 300;
}

.nav-items--container ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.5rem;
}

.Toggle--container{
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    position: relative;
    transition: all 0.3s;
}

.toggle-button{
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    border-radius: 1rem;
    transition: all 0.3s;   
}


.toggle-dark{
    left: 0.1rem;
    top: 0.1rem;
}

.toggle-light{
    right: 0.1rem;
    top: 0.1rem;

}

.toggle-up-container{
    position: absolute;
    right: 2rem;
    cursor: pointer;
}


.arrow-image{
    display: none;
}

/* hero container */


.top-container{
    position: relative;
}

.hero-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    transition: all 0.3s;
}

.name-banner h1 span{
    background: linear-gradient(99.16deg, #00D1FF 35.11%, #00D1FF 35.11%, #8F00FF 77.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.hero-container h1{
    font-weight: 800;
    font-size: 5rem;

}


.hero--dark{
    background-color: #1F2329;
    color: #F0F8FF;
}

.hero--light{
    background-color: #fff;
    color: #1F2329;  
}

.font--dark p{
    font-weight: 200;
}

.font--light p{
    font-weight: 400;
}

.skill-banner{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;

}

.developer{
    font-family: 'JetBrains Mono', monospace;
    background: linear-gradient(266.68deg, #9E00FF 9.38%, rgba(206, 127, 255, 0.72) 102.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 1rem;   
}


.designer{
    background: linear-gradient(93.92deg, #00D1FF -6.03%, rgba(43, 217, 255, 0.71) 78.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-right: 1rem;
}

.resume-download--button{
    padding: 1.2rem 1rem;
    border-radius: 1rem;
    width: 20rem;
    background: linear-gradient(92.89deg, #61DAFB -1.92%, rgba(158, 0, 255, 0.5) 117.71%);
    color: #F0F8FF;
    border: 0;
    cursor: pointer;
}

.scroll-banner{
    position: absolute;
    bottom: 0rem;
}

.scroll-banner p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.scroll-down--image{
    margin-bottom: 1rem;
}

.blob{
    width: 20rem;
    height: 20rem;
    background: linear-gradient(180deg, #00FFFF 0%, #56FFEB 54.48%, #9E00FF 100%);
    filter: blur(150px);
}

.blob-one--position{
    position: absolute;
    right: 0rem;
    bottom: 2rem;
}


/* About  */

.blob-two--position{
    position: absolute;
    right: 0rem;
    top: 130rem;
}
.heading{
    font-size: 2.5rem;
    font-weight: 300;
    border-bottom: 1.5px solid #00D1FF;
    width: max-content;
}

.heading--container{
    width: 100%;
    display: flex;
    justify-content: center;
}


.about-container{
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 3rem 3rem;
}

.intro--container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.image--container{
    width: 39rem;
    height: 39rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(78, 78, 78, 0.09) 100%);
    filter: drop-shadow(0px 0px 250px rgba(0, 0, 0, 0.25));
    border-radius: 19.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image--box{
    width: 34rem;
    height: 34rem;
    border-radius: 17rem;
    background: url("../asset/test.jpg");
    background-size: cover;
    background-position: center;
}

.about--section{
    padding: 2rem 1rem;
    font-size: 2rem;
    font-weight: 200;
}

.about--section span{
    background: linear-gradient(91.38deg, #00D1FF 33.72%, #8F00FF 50.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
}

.tech--container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.tech--container img{
    width: 9rem;
    height: 9rem;
    opacity: 0.5;
}

.tech--container div:hover{
    transform: scale(130%);
    transition: all 0.3s;
}

.tech--container div:hover svg{
    fill-opacity: 1;
    transition: all 0.3s;
}


.tech--container div:hover img{
    opacity: 1;
    transition: all 0.3s;

}

.blob-two--position{
    position: absolute;
    left: 1rem;
}

/* Projects */

.tech-image--container{
    display: flex;
}

.tech--image{
    width: 5rem;
    height: 5rem;
}

.project--card p{
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.project--card{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.3) 0%, rgba(217, 217, 217, 0.1) 100%);
    backdrop-filter: blur(15px);
    border-radius: 2rem;
    padding: 3rem 2rem;
    justify-content: space-around;

}

.project--card button{
    background: linear-gradient(92.89deg, rgba(97, 218, 251, 0.6) -1.92%, rgba(158, 0, 255, 0.5) 117.71%);
    border-radius: 0.5rem;
    border: 0;
    padding: 1rem 0.5rem;
    display: none;
}

.projects--container{
    padding: 2rem 5rem;
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.projects--section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-top: 3rem;
    z-index: 0;
    position: relative;
}

.blob-three--position{
    position: absolute;
    right: 0rem;
    bottom: 20rem;
}

.project--card:hover{
    transform: scale(110%);
    transition: all 0.4s;
    cursor: pointer;
}

.project--card:hover button{
    display: block;
    animation: alternate;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .nav-bar--container{
        height: 97vh;
        width: 18rem;
        position: absolute;
        left: -16rem;
        transition: all 0.3s;
        align-items: flex-start;
    }

    .nav-bar--container:hover{
        left: 0;
    }

    .nav-bar--container:hover .arrow-image{
        transform: rotate(-270deg);
        transition: all 0.3s;
    }

    .nav-items--container ul{
        flex-direction: column;
        padding-top: 5rem;
    }

    .nav-items--container li{
        padding-top: 2rem;
    }


    .arrow-image{
        display: block;
        position: absolute;
        width: 3rem;
        height: 1.5rem;
        top: 30rem;
        transform: rotate(-90deg);
        right: -2.5rem;
        transition: all 0.3s;
    }

    /* hero-container */

    .hero-container{
        height: 100vh; 
    }

    .hero-container h1{
        font-size: 4rem;
    }

    .skill-banner{
        font-size: 1.7rem;
    }


    /* About */

    .image--container{
        width: 30rem;
        height: 30rem;
        border-radius: 15rem;
    }


    .image--box{
        width: 25rem;
        height: 25rem;
        border-radius: 12.5rem;

    }

    .about--section{
        font-size: 1.5rem;
    }

    .intro--container{
        flex-direction: column-reverse;
    }

    .heading--container{
        margin-bottom: 3rem;
    }
}